In [2]:
import pandas as pd

In [3]:
import path
path.init()

O valor da variável PATH_ROOT é: /code/python/
Diretório de trabalho atual é Y:\code\python

In [4]:
ENCODING = 'windows_1252'
ANO_ENEM = 2023
ANO_ENEM = str(ANO_ENEM)
PATH_ENEM = r'Y:\DATASOURCES\enem'
PATH_MD = r'{}\microdados_enem_{}\DADOS'.format(PATH_ENEM, ANO_ENEM)
CSV_MD = f'{PATH_MD}\\MICRODADOS_ENEM_{ANO_ENEM}.csv'
PARQUET_MD = f'{PATH_MD}\\MICRODADOS_ENEM_{ANO_ENEM}.parquet'
PARQUET_SAN = f'{PATH_MD}\\MICRODADOS_ENEM_{ANO_ENEM}_SANITIZED.parquet'
FEATHER_SAN = f'{PATH_MD}\\MICRODADOS_ENEM_{ANO_ENEM}_SANITIZED.feather'
CSV_SAN = f'{PATH_MD}\\MICRODADOS_ENEM_{ANO_ENEM}_SANITIZED.csv'

In [5]:
df_enem = pd.read_parquet(PARQUET_SAN)

In [6]:
df_enem.head()

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210061103945,6,F,1.0,1.0,1.0,1,NaN,NaN,NaN,...,B,A,A,B,A,A,A,A,A,B
1,210060214087,2,F,1.0,3.0,1.0,2,NaN,2.0,1.0,...,A,A,A,B,A,A,D,A,A,B
2,210059980948,3,F,1.0,3.0,1.0,2,NaN,2.0,1.0,...,A,A,A,B,A,A,B,A,A,A
3,210060801601,11,M,1.0,1.0,1.0,1,8.0,NaN,NaN,...,B,A,B,C,B,A,C,A,B,B
4,210059085130,8,M,1.0,3.0,1.0,1,5.0,NaN,NaN,...,B,A,B,B,A,A,E,A,B,B

In [7]:
df_enem.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704814 entries, 0 to 2704813
Data columns (total 52 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   NU_INSCRICAO            2704814 non-null  int64
 1   TP_FAIXA_ETARIA         2704814 non-null  int64
 2   TP_SEXO                 2704814 non-null  object
 3   TP_ESTADO_CIVIL         2599322 non-null  float64
 4   TP_COR_RACA             2671700 non-null  float64
 5   TP_NACIONALIDADE        2703619 non-null  float64
 6   TP_ST_CONCLUSAO         2704814 non-null  int64
 7   TP_ANO_CONCLUIU         1026826 non-null  float64
 8   TP_ESCOLA               1045732 non-null  float64
 9   TP_ENSINO               1023616 non-null  float64
 10  IN_TREINEIRO            2704814 non-null  int64
 11  SG_UF_ESC               716629 non-null   object
 12  TP_DEPENDENCIA_ADM_ESC  716629 non-null   float64
 13  TP_LOCALIZACAO_ESC      716629 non-null   float64
 14  TP_SIT_FUNC_ESC         716629 non-null   float64
 15  SG_UF_PROVA             2704814 non-null  object
 16  NU_NOTA_CN              2585115 non-null  float64
 17  NU_NOTA_CH              2704814 non-null  float64
 18  NU_NOTA_LC              2704814 non-null  float64
 19  NU_NOTA_MT              2585115 non-null  float64
 20  TP_LINGUA               2704814 non-null  int64
 21  NU_NOTA_COMP1           2704814 non-null  float64
 22  NU_NOTA_COMP2           2704814 non-null  float64
 23  NU_NOTA_COMP3           2704814 non-null  float64
 24  NU_NOTA_COMP4           2704814 non-null  float64
 25  NU_NOTA_COMP5           2704814 non-null  float64
 26  NU_NOTA_REDACAO         2704814 non-null  float64
 27  Q001                    2454836 non-null  object
 28  Q002                    2628957 non-null  object
 29  Q003                    2383267 non-null  object
 30  Q004                    2473005 non-null  object
 31  Q005                    2704814 non-null  int64
 32  Q006                    2704814 non-null  object
 33  Q007                    2704814 non-null  object
 34  Q008                    2704814 non-null  object
 35  Q009                    2704814 non-null  object
 36  Q010                    2704814 non-null  object
 37  Q011                    2704814 non-null  object
 38  Q012                    2704814 non-null  object
 39  Q013                    2704814 non-null  object
 40  Q014                    2704814 non-null  object
 41  Q015                    2704814 non-null  object
 42  Q016                    2704814 non-null  object
 43  Q017                    2704814 non-null  object
 44  Q018                    2704814 non-null  object
 45  Q019                    2704814 non-null  object
 46  Q020                    2704814 non-null  object
 47  Q021                    2704814 non-null  object
 48  Q022                    2704814 non-null  object
 49  Q023                    2704814 non-null  object
 50  Q024                    2704814 non-null  object
 51  Q025                    2704814 non-null  object
dtypes: float64(19), int64(6), object(27)
memory usage: 1.0+ GB

In [8]:
# Identificar variáveis categóricas e contínuas (exemplo simplificado)
# categoricas = df_enem.select_dtypes(include=['object']).columns
# continuas   = df_enem.select_dtypes(include=['number']).columns

# print("Variáveis Categóricas:", categoricas)
# print("Variáveis Contínuas:", continuas)

In [9]:
# Variáveis categóricas que contém texto
cat_texto = [
  'NO_MUNICIPIO_ESC', 'NO_MUNICIPIO_PROVA',
  'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 
  'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 
  'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 
  'SG_UF_ESC', 'SG_UF_PROVA', 
  'TP_LINGUA', 
  'TP_SEXO', 
]

# Variáveis categóricas que contém números
cat_numero = [
  'CO_MUNICIPIO_ESC', 'CO_MUNICIPIO_PROVA', 
  'CO_PROVA_CH', 'CO_PROVA_CN', 'CO_PROVA_LC', 'CO_PROVA_MT', 
  'CO_UF_ESC', 'CO_UF_PROVA',
  'IN_TREINEIRO', 
  # 'NU_INSCRICAO', 'NU_ANO',
  'TP_ANO_CONCLUIU', 'TP_COR_RACA', 'TP_DEPENDENCIA_ADM_ESC', 'TP_ENSINO', 'TP_ESCOLA', 'TP_ESTADO_CIVIL', 
  'TP_FAIXA_ETARIA', 'TP_LOCALIZACAO_ESC', 'TP_NACIONALIDADE', 
  'TP_PRESENCA_CH', 'TP_PRESENCA_CN', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT',
  'TP_SIT_FUNC_ESC', 'TP_ST_CONCLUSAO', 'TP_STATUS_REDACAO',
]

cat_vetor = [
  'TX_GABARITO_CH', 'TX_GABARITO_CN', 'TX_GABARITO_LC', 'TX_GABARITO_MT', 
  'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT'
]

categoricas = [c for c in cat_texto + cat_numero + cat_vetor if c in df_enem.columns]

continuas = [
  'NU_NOTA_CH', 'NU_NOTA_CN', 
  'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 
  'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO',
]

print(categoricas)

['Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'SG_UF_ESC', 'SG_UF_PROVA', 'TP_LINGUA', 'TP_SEXO', 'IN_TREINEIRO', 'TP_ANO_CONCLUIU', 'TP_COR_RACA', 'TP_DEPENDENCIA_ADM_ESC', 'TP_ENSINO', 'TP_ESCOLA', 'TP_ESTADO_CIVIL', 'TP_FAIXA_ETARIA', 'TP_LOCALIZACAO_ESC', 'TP_NACIONALIDADE', 'TP_SIT_FUNC_ESC', 'TP_ST_CONCLUSAO']

In [10]:
# Realizar one-hot encoding
# NOTA: Mantive apenas as variáveis categóricas por conta do tempo de apresentação do trabalho
# df_enem_dummies = pd.get_dummies(df_enem, columns=categoricas, dummy_na=False) # dummy_na=False para não criar colunas para valores nulos
df_enem_dummies = pd.get_dummies(df_enem[categoricas], columns=categoricas, dummy_na=False) # dummy_na=False para não criar colunas para valores nulos

print(df_enem_dummies.head())
print(df_enem_dummies.shape)

   Q001_A  Q001_B  Q001_C  Q001_D  Q001_E  Q001_F  Q001_G  Q002_A  Q002_B  \
0   False   False   False   False   False   False   False   False   False
1   False   False   False    True   False   False   False   False   False
2   False    True   False   False   False   False   False   False    True
3   False   False   False   False   False   False   False   False   False
4   False   False   False   False   False    True   False   False   False

   Q002_C  ...  TP_NACIONALIDADE_3.0  TP_NACIONALIDADE_4.0  \
0   False  ...                 False                 False
1   False  ...                 False                 False
2   False  ...                 False                 False
3   False  ...                 False                 False
4    True  ...                 False                 False

   TP_SIT_FUNC_ESC_1.0  TP_SIT_FUNC_ESC_2.0  TP_SIT_FUNC_ESC_3.0  \
0                False                False                False
1                 True                False                False
2                 True                False                False
3                False                False                False
4                False                False                False

   TP_SIT_FUNC_ESC_4.0  TP_ST_CONCLUSAO_1  TP_ST_CONCLUSAO_2  \
0                False               True              False
1                False              False               True
2                False              False               True
3                False               True              False
4                False               True              False

   TP_ST_CONCLUSAO_3  TP_ST_CONCLUSAO_4
0              False              False
1              False              False
2              False              False
3              False              False
4              False              False

[5 rows x 268 columns]
(2704814, 268)

In [11]:
# from my import mystats

# def criar_faixas(df, colunas, num_faixas=5):  # Função para criar faixas
#     df_faixas = df.copy()
#     for col in colunas:
#         min_val = df[col].min()
#         max_val = df[col].max()
#         faixas = np.linspace(min_val, max_val, num_faixas + 1)
#         nomes_faixas = [f"{col}_{i}" for i in range(1, num_faixas + 1)]
#         df_faixas[col] = pd.cut(df[col], bins=faixas, labels=nomes_faixas, include_lowest=True)
#     return df_faixas

In [12]:
# #for c in continuas:
# c = continuas[1]
# num_faixas = mystats.doanes_rule(df=df_enem_dummies, column_name=c)
# print(c, num_faixas)

In [13]:
# df_enem_faixas = criar_faixas(df_enem_dummies, [c], num_faixas)

In [14]:
# df_enem_faixas[c]

In [15]:
# Aplicar one-hot encoding nas faixas
# df_enem_faixas = pd.get_dummies(df_enem_faixas, columns=[c], dummy_na=False)

In [16]:
# df_enem_faixas

In [17]:
# df_enem_dummies = pd.concat([df_enem_dummies.drop(columns=[c]), df_enem_faixas], axis=1)

In [18]:
# df_enem_dummies.head()

In [19]:
df_enem_dummies

,Q001_A,Q001_B,Q001_C,Q001_D,Q001_E,Q001_F,Q001_G,Q002_A,Q002_B,Q002_C,...,TP_NACIONALIDADE_3.0,TP_NACIONALIDADE_4.0,TP_SIT_FUNC_ESC_1.0,TP_SIT_FUNC_ESC_2.0,TP_SIT_FUNC_ESC_3.0,TP_SIT_FUNC_ESC_4.0,TP_ST_CONCLUSAO_1,TP_ST_CONCLUSAO_2,TP_ST_CONCLUSAO_3,TP_ST_CONCLUSAO_4
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False
2,False,True,False,False,False,False,False,False,True,False,...,False,False,True,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2704809,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,False
2704810,False,False,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False
2704811,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2704812,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2704813,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [20]:
#df_enem_samples = df_enem_dummies.head(200000)
df_enem_samples_dummies = df_enem_dummies.sample(frac=0.045, random_state=42)
df_enem_samples_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121717 entries, 1315461 to 228726
Columns: 268 entries, Q001_A to TP_ST_CONCLUSAO_4
dtypes: bool(268)
memory usage: 32.0 MB

In [21]:
df_enem_samples_dummies.to_csv(f'{PATH_MD}/MICRODADOS_ENEM_{ANO_ENEM}_SANITIZED_SAMPLES_DUMMIES.csv', sep=';', encoding=ENCODING)

In [22]:
df_enem_samples_dummies.to_parquet(path=f'{PATH_MD}/MICRODADOS_ENEM_{ANO_ENEM}_SANITIZED_SAMPLES_DUMMIES.parquet', engine='auto', compression='brotli')

In [23]:
df_enem_samples = df_enem[categoricas].sample(frac=0.045, random_state=42)
df_enem_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121717 entries, 1315461 to 228726
Data columns (total 41 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Q001                    110435 non-null  object
 1   Q002                    118394 non-null  object
 2   Q003                    107328 non-null  object
 3   Q004                    111408 non-null  object
 4   Q005                    121717 non-null  int64
 5   Q006                    121717 non-null  object
 6   Q007                    121717 non-null  object
 7   Q008                    121717 non-null  object
 8   Q009                    121717 non-null  object
 9   Q010                    121717 non-null  object
 10  Q011                    121717 non-null  object
 11  Q012                    121717 non-null  object
 12  Q013                    121717 non-null  object
 13  Q014                    121717 non-null  object
 14  Q015                    121717 non-null  object
 15  Q016                    121717 non-null  object
 16  Q017                    121717 non-null  object
 17  Q018                    121717 non-null  object
 18  Q019                    121717 non-null  object
 19  Q020                    121717 non-null  object
 20  Q021                    121717 non-null  object
 21  Q022                    121717 non-null  object
 22  Q023                    121717 non-null  object
 23  Q024                    121717 non-null  object
 24  Q025                    121717 non-null  object
 25  SG_UF_ESC               32545 non-null   object
 26  SG_UF_PROVA             121717 non-null  object
 27  TP_LINGUA               121717 non-null  int64
 28  TP_SEXO                 121717 non-null  object
 29  IN_TREINEIRO            121717 non-null  int64
 30  TP_ANO_CONCLUIU         46027 non-null   float64
 31  TP_COR_RACA             120255 non-null  float64
 32  TP_DEPENDENCIA_ADM_ESC  32545 non-null   float64
 33  TP_ENSINO               46357 non-null   float64
 34  TP_ESCOLA               47317 non-null   float64
 35  TP_ESTADO_CIVIL         117028 non-null  float64
 36  TP_FAIXA_ETARIA         121717 non-null  int64
 37  TP_LOCALIZACAO_ESC      32545 non-null   float64
 38  TP_NACIONALIDADE        121656 non-null  float64
 39  TP_SIT_FUNC_ESC         32545 non-null   float64
 40  TP_ST_CONCLUSAO         121717 non-null  int64
dtypes: float64(9), int64(5), object(27)
memory usage: 39.0+ MB

In [24]:
df_enem_samples.to_csv(f'{PATH_MD}/MICRODADOS_ENEM_{ANO_ENEM}_SANITIZED_SAMPLES.csv', sep=';', encoding=ENCODING)

In [25]:
df_enem_samples.to_parquet(path=f'{PATH_MD}/MICRODADOS_ENEM_{ANO_ENEM}_SANITIZED_SAMPLES.parquet', engine='auto', compression='brotli')

In [28]:
df_enem_samples = df_enem[categoricas].sample(frac=0.005, random_state=42)
df_enem_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13524 entries, 1315461 to 268820
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Q001                    12264 non-null  object
 1   Q002                    13170 non-null  object
 2   Q003                    11843 non-null  object
 3   Q004                    12317 non-null  object
 4   Q005                    13524 non-null  int64
 5   Q006                    13524 non-null  object
 6   Q007                    13524 non-null  object
 7   Q008                    13524 non-null  object
 8   Q009                    13524 non-null  object
 9   Q010                    13524 non-null  object
 10  Q011                    13524 non-null  object
 11  Q012                    13524 non-null  object
 12  Q013                    13524 non-null  object
 13  Q014                    13524 non-null  object
 14  Q015                    13524 non-null  object
 15  Q016                    13524 non-null  object
 16  Q017                    13524 non-null  object
 17  Q018                    13524 non-null  object
 18  Q019                    13524 non-null  object
 19  Q020                    13524 non-null  object
 20  Q021                    13524 non-null  object
 21  Q022                    13524 non-null  object
 22  Q023                    13524 non-null  object
 23  Q024                    13524 non-null  object
 24  Q025                    13524 non-null  object
 25  SG_UF_ESC               3615 non-null   object
 26  SG_UF_PROVA             13524 non-null  object
 27  TP_LINGUA               13524 non-null  int64
 28  TP_SEXO                 13524 non-null  object
 29  IN_TREINEIRO            13524 non-null  int64
 30  TP_ANO_CONCLUIU         5076 non-null   float64
 31  TP_COR_RACA             13358 non-null  float64
 32  TP_DEPENDENCIA_ADM_ESC  3615 non-null   float64
 33  TP_ENSINO               5143 non-null   float64
 34  TP_ESCOLA               5262 non-null   float64
 35  TP_ESTADO_CIVIL         12980 non-null  float64
 36  TP_FAIXA_ETARIA         13524 non-null  int64
 37  TP_LOCALIZACAO_ESC      3615 non-null   float64
 38  TP_NACIONALIDADE        13514 non-null  float64
 39  TP_SIT_FUNC_ESC         3615 non-null   float64
 40  TP_ST_CONCLUSAO         13524 non-null  int64
dtypes: float64(9), int64(5), object(27)
memory usage: 4.3+ MB

In [29]:
df_enem_samples.to_csv(f'{PATH_MD}/MICRODADOS_ENEM_{ANO_ENEM}_SANITIZED_SAMPLES_SMALL.csv', sep=';', encoding=ENCODING)

$$ \text{supp}(X) = \frac{n_X}{n} $$

$$ \text{supp}(X) = P(X) $$

supp(X)=n_X/n⇔(|{T ∈ D; X ⊆ T}|)/(|D|)

$$ \text{conf}(X \implies Y) = \frac{\text{supp}(X \cup Y)}{\text{supp}(X)} $$

$$ \text{conf}(X \implies Y) = \frac{n_{X \cup Y} / n}{n_X / n} = \frac{n_{X \cup Y}}{n_X} $$

 $$ \text{conf}(X \implies Y) = P(Y | X) = \frac{P(X \cap Y)}{P(X)} $$

$ \not\subset $ ou $ \not\subseteq $.

$ \subseteq $
$ \subsetneq $ ou $ \varsubsetneq $

Let k be an integer, U be an itemset of size k, D a database, and Fk 1 the set of all frequent itemsets of size k 1. If each subset W UW= k 1 is frequent, W Fk, then U is called the candidate itemset. The set of all candidates of size k, denoted by Ck, is: C_k={U|U⊆B,|U|=k,and for each V⊊U,|V|=k-1 follows that V∈F_(k-1)}

$ C_k = { U \mid (U \subseteq B) \land (|U|=k) \land (\forall V ((V \subsetneq U \land |V|=k-1) \implies V \in F_{k-1})) } $

C_k={U│(U⊆B)⋀(|U|=k)⋀(∀V((V⊊U∧|V|=k-1)⟹V∈F_(k-1))}
C_k={U|U⊆B,|U|=k,and for each V⊊U,|V|=k-1 follows that V∈F_(k-1)}

Let k be an integer, U be an itemset of size k, D database, e F_(k-1) the set of all frequent itemsets of size k-1. If each subset W⊆U, |W|=k-1 is frequent, W∈F_(k-1), then U is called the candidate itemset. The set of all candidates of size k, denoted by C_k, is:
C_k={U│(U⊆B)⋀(|U|=k)⋀(∀V((V⊊U∧|V|=k-1)⟹V∈F_(k-1))}

supp(U,D)=∑_(i=1)^P▒〖supp(U,D_i)〗
supp(U,D)=∑_(1≤i≤P)▒〖supp(U,D_i)〗

Os itemsets que atendem ao suporte mínimo global se tornam os frequent itemsets de tamanho k (Fk).

Let D be a database on B,U⊆B an itemset, and minsupp∈Z a natural number. We call U frequent in database D if Supp(U,D)≥minsupp.
$ \iff $
$ \equiv $

F⟺Supp(U,D)≥minsup

Nós também podemos definir:
Seja F o conjunto de todos os frequent itemset. Um conjunto de itens U pertence ao conjunto F se, e somente se, o suporte de U no banco de dados D for maior ou igual ao suporte mínimo minsupp.
U∈F⟺Supp(U,D)≥minsup
A partir disso, nós podemos definir o frequent itemset usando o suporte relativo (ou proporcional) denotado por minsupp%:
0≤minsup%≤1
Assim, um itemset também é frequente se, e somente se, o suporte relativo de U no banco de dados D for maior ou igual ao minsupp relativo.
Supp%(U,D)≥minsupp%
Disso, podemos afirmar que uma amostra s de itens frequentes extraída de F (denotada por F ̃_s) também obedece ao princípio Apriori. Assim, o princípio Apriori pode ser aplicado nas amostras do particionamento e do processamento paralelo.